@import url(font.css)  ;
@import url(reset.css) ;

body, html { height: 100%; }
body   { background: #666; }

.warp { 
	width: 640px; height: 960px; 
	position: relative; margin: 0 auto; background: #fff; 
	overflow: hidden;
	}
header, section, footer { width: 100%; }

/* HEADER */
header {
	height: 20px; background: rgba(0,0,0,.3);
	}

/* SECTION */
section	{
	height: 420px; background: rgba(0,0,0,.5);
	}

/* FOOTER */
footer {
	height: 40px; background: rgba(0,0,0,.3);
	}


/* MEDIA */
@media (max-width: 600px) {
	.banana { width: 300px; height: 400px; }
}
